# Godot 4+ specific ignores
!.godot/.gdignore
.godot/

# Generated
!node_modules/.gdignore
node_modules/
extension_api.json
gen/
typings/

# Built library output installed by SCons (godotjs-ext.windows.*.dll etc.)
addons/godotjs-ext.daylily-zeleen/bin/